/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(circle at 50% 90%, rgb(253, 219, 115), rgb(246, 157, 109));
    color: #2e2e2e;
    margin: 0;
    padding-top: 100vh;
  }