/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #f2f2f3;
  color: #2e2e2e;
  margin: 0;
  padding-top: 150px;
  overflow-x: hidden;
  transition: background 0.5s ease, color 0.5s ease;
}

body.dark-mode {
  background: #2e2e2e;
  color: #f2f2f3;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 90vh;
}

/* Navbar */
nav.top {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f2f2f3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content:center;
  transition: box-shadow 0s ease;
}

nav.top.dark-mode {
  background: #2a2a2a;
  border: solid 1px #202020;
}
  
nav.top.shadow {
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

nav.top .menu {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
}

nav.top .menu li {
  margin-left: 1rem;
  position: relative;
  padding: 10px;
}

nav.top .menu li a {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  color: #2e2e2e;
}

nav.top.dark-mode li a {
  color: #f2f2f3;
}

nav.top .menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #94C973;
  transition: width 0.3s ease;
}

nav.top .menu li a.active::after {
  width: 100%;
}

nav.top .menu li a:hover {
  color: #94C973;
}

nav.top .menu li a.active {
  color: #94C973;
}

nav.top .toggle-mode {
  background: none;
  cursor: pointer;
  padding: 0;
}

nav.top .toggle-mode img {
  width: 25px;
  height: 25px;
  margin-left: 50%;
  margin-right: 2rem;
}

nav.top .menu-toggle {
  display: none;
  cursor: pointer;
}

nav.top .menu-toggle img {
  width: 20px;
  height: 20px;
}

/* About */
.intro {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-direction: column;
}

.intro .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 55rem;
  width: 100%;
  margin: 0 auto;
}

.intro .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.about h1 {
  font-size: 32px;
  color: #6ba4ff;
  letter-spacing: 2px;
  text-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.298);
}

.about h2 {
  font-size: 4rem;
  color: #94C973;
  letter-spacing: 2px;
  text-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.298);
}

.about p {
  font-size: 18px;
  margin: 20px 0;
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 1.5;
}

.additional-info {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-info .education, .additional-info .languages {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 50rem;
  color: #2e2e2e;
}

.additional-info.dark-mode .education, .additional-info.dark-mode .languages {
  background: #2a2a2a;
  border: solid 1px #202020;
  color: #E0E0E0;
}

.additional-info .icon1, .additional-info .icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.additional-info .description, .additional-info .icon2 {
  text-align: center;
}

.education .description b {
  color: #6ba4ff;
  font-size: 16.5px;
}

.icon1 img {
  width: 40px;
  height: auto;
  margin-right: 1rem;
}

.icon2 i {
  color: #94C973;
  font-size: 25px;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .intro {
      flex-direction: column;
      justify-content: center;
  }
  
  .intro .content {
      flex-direction: column;
      align-items: center;
  }
  
  .intro .main-content {
      flex-direction: row;
      align-items: flex-start;
  }
  
  .about, .additional-info {
      text-align: left;
  }
}

/* Projects */
.intro2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-direction: column;
}

.intro2 .main-content {
  max-width: 50rem;
}

.intro2 h1 {
  font-style: normal;
  font-size: 35px;
  color: #6ba4ff;
  letter-spacing: 2px;
  margin-top: 10vh;
  text-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.298);
}

.intro2 p {
  font-size: 18px;
  color: rgb(51, 51, 51);
  max-width: 107vh;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.5;
}

.intro2.dark-mode p,
.intro2.dark-mode span {
  color: #E0E0E0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: center;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 24rem;
  height: 13.5rem;
  transition: transform 0.3s ease;
  margin-top: 1rem;
  border: 1px solid #ccc;
  position: relative;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card.dark-mode {
  background: #2a2a2a;
  border: solid 1px #202020;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: filter 0.5s, transform 0.5s;
  padding: 0;
  border-radius: 8px;
}

.project-info {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.project-card:hover .project-image {
  filter: blur(5px);
  transform: scale(1.1);
}

.project-card:hover .project-info {
  opacity: 1;
  transform: translateY(0);
}

.project-info h2 {
  font-size: 1.2em;
  margin: 0 0 10px;
}

.project-info p {
  font-size: 0.9em;
  color: #e0e0e0;
  margin: 0 0 15px;
}

.read-more {
  text-decoration: none;
  color: #94C973;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.read-more:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  border: solid 1px #E0E0E0;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5rem;
}

footer.dark-mode {
  background: #2a2a2a;
  border: solid 1px #202020;
}

footer .socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

footer .socials li {
  list-style: none;
}

footer .socials li a {
  font-size: 2em;
  color: #2e2e2e;
  margin: 0 10px;
  margin-top: 20px;
  display: inline-block;
  transition: color 0.5s, transform 0.5s;
}

footer .socials.dark-mode li a {
  color: #E0E0E0;
}

footer .socials li a:hover {
  transform: translateY(-10px);
}

.contact-container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.contact-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 19rem;
  width: 100%;
  border: 1px solid #ccc;
}

.contact-card.dark-mode {
  background: #2a2a2a;
  border: solid 1px #202020;
}

.contact-container h1 {
  margin-bottom: 10px;
  font-size: 1em;
  color: #2e2e2e;
}

.contact-container.dark-mode h1{
  color: #E0E0E0;
}

.contact-card h2 {
  margin-bottom: 1px;
  font-size: 0.8em;
  color: #333;
}

.contact-card p {
  margin-bottom: 20px;
  font-size: 0.8em;
  color: #555;
}

.contact-card.dark-mode h1,
.contact-card.dark-mode h2,
.contact-card.dark-mode p {
  color: #E0E0E0 ;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2e2e2e;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  gap: 10px;
  transition: background 0.3s ease;
}

.submit-button a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.submit-button .icon {
  width: 20px;
  height: auto;
  margin-left: 0.8rem;
}

.submit-button:hover {
  background: #94C973;
}

.submit-button {
  border: none;
  outline: none;
  padding: 0;
}

.submit-button a {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Mobile */
@media screen and (max-width: 768px) {

  nav.top .menu {
    flex-direction: column;
    background: #f2f2f3;
    color: #2e2e2e;
    position: fixed;
    margin: 0;
    top: -1rem;
    right: -120%;
    height: 12rem;
    margin-top: 50px;
    width: 100%;
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.178);
}

nav.top .menu.show {
    right: 0;
}

nav.top .menu-toggle,
nav.top .toggle-mode {
    display: flex;
    align-items: center;
    margin-left: auto;
}

  nav.top .menu li {
      margin-left: 0px;
  }

  body {
      padding-top: 10rem;
  }

  .about h2 {
      margin-top: 10rem;
      font-size: 7vb;
  }

  .swiper-pagination-dot {
      width: 20px;
      height: 20px;
  }

  nav.top ul {
      display: flex;
      flex-direction: column;
  }

  nav.top ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .content {
      width: 100%;
  }

  .intro {
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-right: 1rem;
      margin-left: 1rem;
  }

  .intro .me {
      margin: 20px 0;
      max-width: 80%;
  }

  .intro h1 {
      font-size: 25px;
      margin-top: 10vh;
  }

  .intro p {
      font-size: 16px;
      max-width: 100%;
  }

  .intro2 {
      padding: 0 10px;
      margin-right: 1rem;
      margin-left: 1rem;
      margin: 20px 0;
      max-width: 100%;
  }

  .intro2 .main-content {
      margin-top: 10rem;
  }

  .intro2 h1 {
      font-size: 24px;
      margin-top: 30vh;
  }

  .intro2 p {
      font-size: 15px;
      max-width: 90%;
  }

  .intro {
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .intro .main-content {
      flex-direction: column;
      align-items: center;
  }

  .about {
      align-items: center;
      text-align: center;
  }

  .about h1 {
      font-size: 25px;
      margin-top: 2vh;
  }

  .about p {
      font-size: 16px;
      max-width: 100%;
  }

  .additional-info {
      margin-top: 15px;
  }

  .intro .icon2 img {
      width: 20px;
      height: auto;
      margin-right: 5px;
  }

  .swiper-slide .description {
      margin-right: 0.5rem;
  }

  .project-card {
      margin-top: 1rem;
      margin-bottom: 0;
      width: 15rem;
  }

  .project-info p {
      display: none;
  }

  .project-info h2 {
      margin: 0;
  }

  .wrapper .image {
    margin-bottom: 4rem;
    align-items: center;
    margin-left: 0;
  }

}

.image {
  background-image: url('images/profileImg.png');
  background-size: cover;
  background-position: center center;
  height: 20rem;
  width: 20rem;
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  margin-left: 5rem;
}

@media screen and (max-width: 370px) {
    .wrapper .image {
      height: 250px;
      width: 250px;
    }

}

@media screen and (max-width: 600px) {

  .project-card {
    width: 70%;
  }

  .intro .main-content .about h2 {
    margin-top: 30vh;
    font-size: 3rem;
  }

  .project-card {
    width: 20rem;
}

  .intro2 {
    margin-top: 10rem;
  }

  .wrapper .image {
    height: 250px;
    width: 250px;
  }

}

.swiper-container {
  width: 100%;
  margin-left: 0;
}

.swiper-slide {
  padding: 5px;
}

.swiper-button {
  width: 30px;
  height: 30px;
}

.swiper-icon {
  width: 16px;
  height: 16px;
}

footer {
  margin-left: 0;
  padding: 10px;
  justify-content: center;
}

footer .socials {
  margin: 0;
}

.wrapper .button .icon {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-out;
  position: absolute;
  align-items: center;
  text-align: center;
}

.wrapper .button .icon img {
  opacity: 0;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #E0E0E0;
}

.wrapper .button span {
  font-size: 10px;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper .button b {
  font-size: 10px;
  transition: all 0.3s ease-out;
  color: #1f1f1f;
  text-shadow: 0 1px 5px #2e2e2e46;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.wrapper .button:nth-child(1) span {
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 5px #2e2e2e46;
}

.wrapper .button:nth-child(2) span {
  color: #6ba4ff;
}

.intro .icon2 img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

@keyframes animate {
  0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Styles for the scroll-to-top button */
.scroll-to-top {
  position: fixed;
  bottom: -50px;
  right: 3rem ;
  opacity: 0;
  z-index: 1000;
  transition: bottom 0.5s, opacity 0.5s;
}

.scroll-to-top img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  animation: bounce 2s infinite;
  background: #f2f2f3;
  padding: 7px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-to-top.show {
  bottom: 3rem;
  opacity: 1;
}

/* Animation for the scroll-to-top button */
@keyframes bounce {
  0%,50%,100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-0.7rem);
  }
  75% {
      transform: translateY(-0.7rem);
  }
}

@media screen and (max-width: 830px) {
  .scroll-to-top {
      right: 0.8rem;
  }
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: padding 0.5s ease;
}

.icon-container:hover {
  padding: 0 10px;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #f2f2f3;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, bottom 0.5s ease;
  opacity: 0;
}

.icon-container:hover .tooltip {
  display: block;
  bottom: -50px;
  opacity: 1;
}

/* General animation settings */
.animateUp, .animateLeft, .animateRight, .animateImage, .animateDown {
  transition: 1s;
}

.sec-1 .animateUp {
  transform: translateY(-50rem);
  opacity: 0;
}

.sec-1 .animateLeft {
  transform: translateX(-50rem);
  opacity: 0;
}

.sec-1 .animateRight {
  transform: translateX(50rem);
  opacity: 0;
}

.sec-1 .animateImage {
  transform: translateY(-50rem);
  opacity: 0;
}

.sec-1.show-animate .animateUp,
.sec-1.show-animate .animateLeft,
.sec-1.show-animate .animateRight,
.sec-1.show-animate .animateImage {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .sec-1 .animateImage {
    transform: translateX(50rem);
    opacity: 0;
  }

  .sec-1.show-animate .animateImage {
    transform: translateX(0);
    opacity: 1;
  }
}

.sec-2 .animateLeft {
  transform: translateX(-50rem);
  opacity: 0;
}

.sec-2 .animateRight {
  transform: translateX(50rem);
  opacity: 0;
}

.sec-2.show-animate .animateLeft,
.sec-2.show-animate .animateRight {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .sec-2 .animateLeft,
  .sec-2 .animateRight {
    transform: translateX(0);
    opacity: 1;
    transition: none;
  }
}

.projects-container .project-card:nth-child(1),
.projects-container .project-card:nth-child(2) {
  transition-delay: 0.1s;
}

.projects-container .project-card:nth-child(3),
.projects-container .project-card:nth-child(4) {
  transition-delay: 0.3s;
}